.explore{
	 border:1px solid #e6e6e6;
	 background-color: white;
	 margin-left: auto;
	 margin-right: auto;
	 max-width: 600px;
	 margin-top: 50px;

}
.people__user{
	border:1px solid #e6e6e6;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.people__avatar{
	border-radius: 50%;
	width: 56px;
	height: 56px;
}
.people__name{
	text-align: left;
	margin-right: auto;
	margin-left: 15px;s

}
.people__username{
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
}
.people__full-name{
	color: #999;
}
.people__btn{
	color:white;
	background-color: blue;
	border:0;
	font-size:13px;
    font-weight: 700;
    padding:5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.people__btn:focus{
	outline:none;	
}
.people__btn:active{
	opacity: 0.8;
}
